# AirSim plugin copy
Plugins/

# Packaged builds
Packaged/

# UE4 generated folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio / IDE files
*.sln
*.VC.db
.vscode/
.kdev/
*.kdev4
*.pro
*.workspace
*CodeCompletionFolders.txt
*CodeLitePreProcessor.txt
*.pri

# Build system files
CMakeLists.txt
Makefile

# MacOS/XCode files
*.xcworkspace

# Ignore temporary files
*.tmp
*.log

# Keep the actual UE4 project file
!*.uproject
